<nav id="navbar">
    <div id="logo">
        <a href="#contact"><h2 id="name-logo">benupghimire</h2></a>
    </div>
    <div id="profile-alllink">
        <a href="https://www.facebook.com/Benup211" target="_blank"><i class="fab fa-facebook fa-2x fa-fw"></i></a>
        <a href="https://www.linkedin.com/in/benup211/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        <a id="profile-link" href="https://github.com/Benup211" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    </div>
</nav>